<ion-grid>
  <form [formGroup]="globalService.notification" (ngSubmit)="onSubmit()">
  <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input
            label="Message notification"
            labelPlacement="floating"
            placeholder="Write your message notification here"
            formControlName="message"
          >
        </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            label="Hour"
            type="number"
            placeholder="00"
            labelPlacement="floating"
            max="24"
            min="0"
            formControlName="hour"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            label="Minutes"
            type="number"
            placeholder="00"
            labelPlacement="floating"
            max="59"
            min="0"
            formControlName="minutes"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button
          type="submit"
          expand="block"
          [disabled]="globalService.notification.invalid"
          >Show Notification</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
