<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Local-notifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <app-section-settings></app-section-settings>
  <ion-card>
    <app-section-notification></app-section-notification>
  </ion-card>
</ion-content>
<app-section-footer></app-section-footer>
